<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.neusoft.cbec.dao.IBrandDao">
  
  <resultMap id="BrandResultMap" type="Brand" >
    <id property="brand_id" column="brand_id" />
  	<result property="brand_name" column="brand_name"/>
  	<!-- <result property="man_id" column="man_id"/> -->
  	<result property="brand_desc" column="brand_desc"/>
  	<result property="brand_time" column="brand_time"/>
  	
  </resultMap>
  
   <resultMap id="BrandWithManuResultMap" type="Brand" extends = "BrandResultMap">
  	<!-- <association property = "manufacturer" column = "man_id" select = "com.neusoft.cbec.dao.IManufacturerDao.selectManufacturerById" fetchType = "eager" >
  	</association> -->
  	<association property = "manufacturer" resultMap = "com.neusoft.cbec.dao.IManufacturerDao.ManResultMap"></association>
  </resultMap>
   
  <insert id="create" parameterType="Brand">
     insert into Brand (brand_id,brand_name,man_id,brand_desc,brand_time) values (BRAND_NEXTNO_SQ.nextval,#{brand_name},#{manufacturer.id},#{brand_desc},#{brand_time,jdbcType=DATE})
  </insert>
  
  <update id="update" parameterType="Brand">
    update Brand set brand_name=#{brand_name},man_id=#{manufacturer.id},brand_desc=#{brand_desc},brand_time=#{brand_time,jdbcType=DATE} where brand_id=#{brand_id}
  </update>
  
  <delete id="delete" parameterType="Brand">
      delete from Brand where brand_id=#{brand_id}
  </delete>
  
   <select id="selectListByAll" resultMap="BrandResultMap">
    select * from Brand
  </select>
  
  <select id="selectListWithManuByAll" resultMap="BrandWithManuResultMap">
    select a.*,b.* from Brand a inner join Manufacturer b
     on a.man_id = b.man_id 
  </select>
  
  <select id="selectById" parameterType="int" resultMap="BrandWithManuResultMap">
      select a.*, b.* from Brand a inner join Manufacturer b
     on a.man_id = b.man_id  where brand_id=#{brand_id}
  </select>  
  <!-- 根据检索条件取得员工的列表，无分页-->
  <select id="selectListByCondition" resultMap="BrandResultMap">
	    select a.* from Brand a
      <trim prefix = "WHERE" prefixOverrides="AND/OR">
      
       
       <if test = "manuid!=0">
       and a.man_id = #{manuid}
       </if> 
       
       <if test = "startDate!=null">
       and a.brand_time &gt; = #{startDate}
       </if>
       
       <if test = "endDate!=null">
       and a.brand_time &lt; = #{endDate}
       </if>
       
       <if test = "name!=null and name!=''">
       and a.brand_name like #{name}
       </if>
       
       </trim>
	 </select>
	 <!-- 根据检索条件取得员工的列表，有分页-->
  <select id = "selectListByConditionWithPage" resultMap = "BrandWithManuResultMap" >
      select * from (select X.*, ROWNUM RN   FROM(
       select a.*, b.man_name from Brand a  inner join Manufacturer b
       on a.man_id = b.man_id
      <trim prefix = "WHERE" prefixOverrides="AND|OR">
      
       <if test = "manuid!=0">
        and a.man_id = #{manuid}
       </if> 
       
       <if test = "startDate!=null">
       and a.brand_time &gt; = #{startDate}
       </if>
       
       <if test = "endDate!=null">
       and a.brand_time &lt; = #{endDate}
       </if>
       
       <if test = "name!=null and name!=''">
       and a.brand_name like #{name}
       </if>
       
       </trim>)X WHERE ROWNUM &lt;=#{end} ) WHERE RN &gt;=#{start} 
     
  </select>
  
   <!-- 根据检索条件取得员工的个数 -->
  <select id="selectCountByCondition" resultType="int">
   select count(a.brand_id) from Brand a
      <trim prefix = "WHERE" prefixOverrides="AND|OR">
      
       <if test = "manuid!=0">
        and a.man_id = #{manuid}
       </if> 
       
       <if test = "startDate!=null">
       and a.brand_time &gt; = #{startDate}
       </if>
       
       <if test = "endDate!=null">
       and a.brand_time &lt; = #{endDate}
       </if>
       
       <if test = "name!=null and name!=''">
       and a.brand_name like #{name}
       </if>
       
       </trim>
  </select>
  
  
</mapper>