<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.cbec.dao.IKindsDao">

  <resultMap id="KindsResultMap" type="Kinds">
  	<id property="pro_kinds_id" column="pro_kinds_id" />
  	<result property="pro_kinds_name" column="kinds_name"/>
  </resultMap>
  
  
  <resultMap id="KindsWithProductResultMap" type="Kinds" extends="KindsResultMap">
  	<collection property="product" javaType="ArrayList" ofType="Product" column="pro_kinds_id" select="com.neusoft.cbec.dao.IProductDao.selectListByKinds"></collection>
  </resultMap>
  
  <insert id="create" parameterType = "Kinds" >
  	insert into KINDS(pro_kinds_id,kinds_name) 
  	values(#{pro_kinds_id},#{pro_kinds_name})
  </insert>
  
  <update id="update" parameterType = "Kinds">
  	update KINDS 
  	set kinds_name=#{pro_kinds_name}
  	where pro_kinds_id=#{pro_kinds_id}
  </update>
  
  <delete id="delete" parameterType = "Kinds">
  	delete from KINDS where pro_kinds_id=#{pro_kinds_id}
  </delete>
  
  <!-- 取得所有的种类无关联商品 -->
  <select id="selectListByAll" resultMap = "KindsResultMap">
  	select pro_kinds_id,kinds_name from KINDS
  </select>
  
  <!-- 取得所有的种类有关联商品 -->
  <select id="selectListWithProductByAll" resultMap = "KindsWithProductResultMap">
  	select * from KINDS
  </select>
  
  <select id="selectById" parameterType = "int" resultMap="KindsWithProductResultMap">
  	 select a.pro_kinds_id,a.kinds_name,b.* from KINDS a left outer join PRODUCT b on a.pro_kinds_id=b.pro_kinds_id where a.pro_kinds_id=#{kindsId}
  </select>
  

  
</mapper>