<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.cbec.dao.IKindsDao">

  <resultMap id="KindsResultMap" type="Kinds">
  	<id property="pro_kinds_id" column="pro_kinds_id" />
  	<result property="kinds_name" column="kinds_name"/>

  </resultMap>
  
  <!--  
    <resultMap id="selectListByAll" type="Product" extends="ProductResultMap">
		<association property="kinds" resultMap></association>
 	</resultMap>
   -->

  <insert id="create" parameterType = "Kinds" >
  	<selectKey keyProperty="pro_kinds_id" keyColumn="pro_kinds_id" resultType="int" order="BEFORE">
  		select KINDS_NEXTNO_SQ.nextval from dual
  	</selectKey>
  	insert into KINDS(pro_kinds_id,kinds_name) 
  	values(#{pro_kinds_id},#{kinds_name})
  </insert>
  
  <update id="update" parameterType = "Kinds">
  	update kINDS 
  	set kinds_name=#{kinds_name}
  	where pro_kinds_id=#{pro_kinds_id}
  </update>
  
  <delete id="delete" parameterType = "Kinds">
  	delete from KINDS where pro_kinds_id=#{pro_kinds_id}
  </delete>
  
  <select id="selectListByAll" resultMap = "KindsResultMap">
  	select pro_kinds_id,kinds_name from KINDS
  </select>
  
  <select id="selectById" parameterType = "int" resultMap="KindsResultMap">
  	select * from KINDS where pro_kinds_id=#{KindsId}
  </select>
  
</mapper>