<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.cbec.dao.IManufacturerDao">

  <resultMap id="ManResultMap" type="Manufacturer">
  	<id property="id" column="man_id" />
  	<result property="no" column="man_no"/>
  	<result property="name" column="man_name"/>
  	<result property="log" column="man_log"/>
  	<result property="phone" column="man_phone"/>
  	<result property="address" column="man_address"/>
  	<result property="mdesc" column="man_desc"/>
  </resultMap>
  
  <resultMap type="Manufacturer" id="ManufacturerWithOrderitemsResultMap" extends="ManResultMap">
	<collection property="orderitems" javaType="ArrayList" ofType="OrderItem" column="man_id"  select="com.neusoft.cbec.dao.IOrderItemDao.selectListByManufacturer"></collection>
  </resultMap>
  
   <resultMap type="Manufacturer" id="ManufacturerWithBrandsResultMap" extends="ManResultMap">
	<collection property="brands" javaType="ArrayList" ofType="Brand"  resultMap="com.neusoft.cbec.dao.IBrandDao.BrandResultMap"></collection>
<!-- 	<collection property="employees" javaType="ArrayList" ofType="Employee" resultMap="com.neusoft.oa.dao.IEmployeeDao.EmployeeResultMap"></collection> -->
  </resultMap>
  
  <insert id="create" parameterType="Manufacturer">
    insert into MANUFACTURER 
    values(MANUFACTURER_NEXTID_SQ.nextval,#{no},#{name},#{log},#{phone},#{address},#{mdesc})
  </insert>
  
  <delete id="delete" parameterType="Manufacturer">
    delete MANUFACTURER 
    where man_id = #{id}
  </delete>
  
  <update id="update" parameterType="Manufacturer">
    update MANUFACTURER 
    set man_no=#{no},man_name=#{name},man_log=#{log},man_phone=#{phone},man_address=#{address},man_desc=#{mdesc} 
    where man_id = #{id}
  </update>
 <!--  取得所有制造商列表，无关联的订单列表 -->
  <select id="selectListByAll" resultMap="ManResultMap">
    select *
    from MANUFACTURER
  </select>
  
   <!--  取得所有制造商列表，取得关联的订单列表 -->
  <select id="selectListWithOrderitemsByAll" resultMap="ManufacturerWithOrderitemsResultMap">
    select *
    from MANUFACTURER a left outer join ORDER_ITEM b on a.man_id=b.man_id
  </select>
  
  <select id="selectListWithBrandsByAll" resultMap="ManufacturerWithBrandsResultMap">
    select *
    from MANUFACTURER a left outer join BRAND b on a.man_id=b.man_id
  </select>
  
  <select id="selectManufacturerById" parameterType="int" resultMap="ManResultMap">
   select *
    from MANUFACTURER a left outer join ORDER_ITEM b on a.man_id=b.man_id
    where a.man_id=#{id}
  </select>
  
  <select id="selectManufacturerWithBrandsById" parameterType="int" resultMap="ManufacturerWithBrandsResultMap">
   select *
    from MANUFACTURER a left outer join BRAND b on a.man_id=b.man_id
    where a.man_id=#{id}
  </select>
  
</mapper>