<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.neusoft.cbec.dao.IModuleDao">

	<!-- 基本映射 -->
	<resultMap type="Module" id="ModuleResultMap">
		<id property="no" column="module_no" />
		<result property="name" column="module_name" />
	</resultMap>
	
	<!-- 系统模块关联系统功能映射 -->
	<resultMap extends="ModuleResultMap" type="Module" id="ModuleWithFunctionsResultMap">
		<collection property="functions" resultMap="com.neusoft.cbec.dao.IFunctionDao.FunctionResultMap"></collection>
	</resultMap>
	
	
</mapper>