<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.cbec.dao.IOrderItemDao">

<resultMap id="OrderItemResultMap"  type="OrderItem">
<id property="order_id"  column="order_id" />
<result property="pro_id"  column="pro_id" />
<result property="pro_id_count"  column="pro_id_count" />
<result property="seller_id"  column="seller_id" />
<result property="state"  column="state" />
<result property="order_date"  column="order_date" />
<!-- <association property="manufacture" column="man_id" select="com.neusoft.cbec.dao.IManufacturerDao.selectManufacturerById"></association> -->

</resultMap>

<resultMap type="OrderItem" id="OrderItemWithManMap" extends="OrderItemResultMap">
<association property="manufacture" resultMap="com.neusoft.cbec.dao.IManufacturerDao.ManResultMap"></association>
<!-- <association property="manufacture" column="man_id" select="com.neusoft.cbec.dao.IManufacturerDao.selectListByAll"></association> -->
</resultMap>

<resultMap type="OrderItem" id="OrderItemWithManMap1" extends="OrderItemResultMap">
<association property="manufacture" column="man_id" select="com.neusoft.cbec.dao.IManufacturerDao.selectManufacturerById"></association> 
</resultMap>
<!-- //ORDER_ITEM_NEXTNO_SQ.nextval -->
<insert id ="create" parameterType="OrderItem">
 insert into  ORDER_ITEM (Order_id,pro_id,pro_id_count,man_id,seller_id,state,order_date) values (#{order_id},#{pro_id},#{pro_id_count},#{manufacture.id},#{seller_id},#{state},#{order_date})
</insert>
<update id ="update"  parameterType="OrderItem">
  update ORDER_ITEM set  pro_id=#{pro_id}, pro_id_count=#{pro_id_count},man_id=#{manufacture.id},seller_id=#{seller_id},state=#{state},order_date=#{order_date} where order_id=#{order_id} 
</update>

<delete id="delete" parameterType="OrderItem">
 delete from ORDER_ITEM where  order_id=#{order_id}
</delete>


<!-- 取得订单无关联制造商 -->
<select id="selectListByAll" resultMap="OrderItemResultMap">
 select * from ORDER_ITEM 
<!-- select a.*,b.* from ORDER_ITEM a inner join MANUFACTURER b on a.man_id =b.man_id -->
<!-- select  ORDER_ID order_id, PRO_ID pro_id,PRO_ID_COUNT pro_id_count,MAN_ID man_id,SELLER_ID seller_id,STATE state  from ORDER_ITEM -->
</select>


<!-- 取得订单，取得制造商 -->
<select id="selectListWithManByAll" resultMap="OrderItemWithManMap">
<!-- select * from ORDER_ITEM -->
select a.*,b.man_name from ORDER_ITEM a inner join MANUFACTURER b on a.man_id =b.man_id
<!-- select  ORDER_ID order_id, PRO_ID pro_id,PRO_ID_COUNT pro_id_count,MAN_ID man_id,SELLER_ID seller_id,STATE state  from ORDER_ITEM -->
</select>



<select id="selectByID" parameterType="int"  resultMap="OrderItemWithManMap">
 select a.*,b.man_name,b.man_id from ORDER_ITEM a inner join MANUFACTURER b on a.man_id =b.man_id where order_id=#{order_id}
 <!-- select  PRO_ID pro_id,PRO_ID_COUNT pro_id_count,MAN_ID man_id,SELLER_ID seller_id,STATE state from  ORDER_ITEM where order_id=#{order_id} -->
</select>

<!-- 根据制造商编号取得订单列表 -->
<select id="selectListByManufacturer" resultMap="OrderItemResultMap">
select * from ORDER_ITEM where man_id=#{man_id}
<trim prefix="WHERE" prefixOverrides="AND|OR"> 
<if test="order_id!=0">
 and  a.order_id=#{order_id}
</if>	
 <if test="state!=null and state!=''">
 and a.state= #{state}
 </if>
 <if test="startDate!=null">
 and a.order_date &gt;= #{startDate}
</if>
<if test="endDate!=null">
 and a.order_date &lt;= #{endDate}
 </if>
 </trim>
</select>
<!-- 根据制造商编号取得订单列表 -->
<select id="selectListByManufacturerWithPage" resultMap="OrderItemResultMap">
select * from (select x.*,ROWNUM RN
from(select * from ORDER_ITEM where man_id=#{man_id}
<trim prefix="WHERE" prefixOverrides="AND|OR"> 
<if test="order_id!=0">
 and  a.order_id=#{order_id}
</if>	
 <if test="state!=null and state!=''">
 and a.state= #{state}
 </if>
 <if test="startDate!=null">
 and a.order_date &gt;= #{startDate}
</if>
<if test="endDate!=null">
 and a.order_date &lt;= #{endDate}
 </if>
 </trim>
)X where ROWNUM &lt; =#{end}) where RN &gt;=#{start}
</select>
<!-- 根据检索条件取得订单列表，无分页 -->
<select id="selectListByCondition"  resultMap="OrderItemWithManMap">
select * from ORDER_ITEM a inner join  MANUFACTURER b
  on a.man_id=b.man_id
<trim prefix="WHERE" prefixOverrides="AND|OR"> 

<if test="man_id!=0">
 and a.man_id=#{man_id}
</if>
<if test="order_id!=0">
 and  a.order_id=#{order_id}
</if>

<if test="startDate!=null">
 and a.order_date &gt;= #{startDate}
</if>
<if test="endDate!=null">
 and a.order_date &lt;= #{endDate}
 </if>
 <if test="man_name!=null and man_name!=''">
 and b.man_name like #{man_name}
 </if>
 <if test="state!=null and state!=''">
 and a.state= #{state}
</if>
</trim>
 
</select>
<!-- 根据检索条件取得订单列表，有分页 -->
<select id="selectListByConditionWithPage"  resultMap="OrderItemWithManMap">
select * from (select x.*,ROWNUM RN
from(
select * from ORDER_ITEM a inner join  MANUFACTURER b  on a.man_id=b.man_id
<trim prefix="WHERE" prefixOverrides="AND|OR"> 
<if test="order_id!=0">
 and  a.order_id=#{order_id}
</if>
<if test="man_id!=0">
 and a.man_id=#{man_id}
</if>
<if test="startDate!=null">
 and a.order_date &gt;= #{startDate}
</if>
<if test="endDate!=null">
 and a.order_date &lt;= #{endDate}
 </if>
 <if test="man_name!=null and man_name!=''">
 and b.man_name like #{man_name}
 </if>
 <if test="state!=null and state!=''">
 and a.state= #{state}
</if>
</trim>
)X where ROWNUM &lt; =#{end}) where RN &gt;=#{start}
</select>

<!-- 根据检索条件取得订单个数 -->
<select id="selectCountByCondition" resultType="int">
select count(a.order_id) from ORDER_ITEM a inner join  MANUFACTURER b  on a.man_id=b.man_id
<trim prefix="WHERE" prefixOverrides="AND|OR"> 
<if test="order_id!=0">
 and  a.order_id=#{order_id}
</if>
<if test="man_id!=0">
 and a.man_id=#{man_id}
</if>
<if test="startDate!=null">
 and a.order_date &gt;= #{startDate}
</if>
<if test="endDate!=null">
 and a.order_date &lt;= #{endDate}
 </if>
 <if test="man_name!=null and  man_name!=''">
 and b.man_name like #{man_name}
 </if>
<if test="state!=null  and state!=''">
 and a.state= #{state}
</if>
</trim>
</select>
<!-- 根据订单ID和制造商ID取得订单个数 -->
<select id="selectCountByloginId" resultType="int">
 select  count(order_id) from ORDER_ITEM where order_id=#{order_id} and man_id=#{man_id}
</select>


<select id="selectCountByMan" resultType="int">
select count(order_id) from ORDER_ITEM  where man_id=#{man_id}
<trim prefix="WHERE" prefixOverrides="AND|OR"> 
<if test="order_id!=0">
 and  a.order_id=#{order_id}
</if>	
 <if test="state!=null and state!=''">
 and a.state= #{state}
 </if>
 <if test="startDate!=null">
 and a.order_date &gt;= #{startDate}
</if>
<if test="endDate!=null">
 and a.order_date &lt;= #{endDate}
 </if>
 </trim>
</select>
</mapper> 
<!-- ORDER_ID order_id, PRO_ID pro_id,PRO_ID_COUNT pro_id_count,MAN_ID man_id,SELLER_ID seller_id,STATE state -->

