<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.cbec.dao.IOrderItemDao">

<resultMap id="OrderItemResultMap"  type="OrderItem">
<id property="order_id"  column="order_id" />
<id property="pro_id"  column="pro_id" />
<id property="pro_id_count"  column="pro_id_count" />
<id property="man_id"  column="man_id" />
<id property="seller_id"  column="seller_id" />
<id property="state"  column="state" />

</resultMap>


<insert id ="create" parameterType="OrderItem">
 insert into  ORDER_ITEM (Order_id,pro_id,pro_id_count,man_id,seller_id,state) values (ORDER_ITEM_NEXTNO_SQ.nextval,#{pro_id},#{pro_id_count},#{man_id},#{seller_id},#{state})
</insert>
<update id ="update"  parameterType="OrderItem">
  update ORDER_ITEM set  pro_id=#{pro_id}, pro_id_count=#{pro_id_count},man_id=#{man_id},seller_id=#{seller_id},state=#{state} where order_id=#{order_id}
</update>

<delete id="delete" parameterType="OrderItem">
 delete from ORDER_ITEM where  order_id=#{order_id}
</delete>

<select id="selectListByAll" resultMap="OrderItemResultMap">
select * from ORDER_ITEM
<!-- select  ORDER_ID order_id, PRO_ID pro_id,PRO_ID_COUNT pro_id_count,MAN_ID man_id,SELLER_ID seller_id,STATE state  from ORDER_ITEM -->
</select>

<select id="selectByID" parameterType="int"  resultMap="OrderItemResultMap">
 select  PRO_ID pro_id,PRO_ID_COUNT pro_id_count,MAN_ID man_id,SELLER_ID seller_id,STATE state from  ORDER_ITEM where order_id=#{order_id}
</select>
</mapper> 
<!-- ORDER_ID order_id, PRO_ID pro_id,PRO_ID_COUNT pro_id_count,MAN_ID man_id,SELLER_ID seller_id,STATE state -->