<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.cbec.dao.IProductDao">

  <resultMap id="ProductResultMap" type="Product">
  	<id property="pro_id" column="pro_id" />
  	<result property="pro_name" column="pro_name"/>
  	<result property="pro_price" column="pro_price"/>
  	<result property="pro_weight" column="pro_weight"/>
  	<result property="pro_count" column="pro_count"/>
  	<result property="pro_kinds_id" column="pro_kinds_id"/>
  	<result property="pro_state_id" column="pro_state_id"/>
  	<result property="brand_id" column="brand_id"/>
  	<result property="pro_photos_id" column="pro_photos_id"/>
  	<result property="pro_desc" column="pro_desc"/>
  	<!--  
	<association property="kinds" column="pro_kinds_id" select="com.neusoft.cbec.dao.IKindsDao.selectById" ></association>
 	
 	<association property="kinds" resultMap="com.neusoft.cbec.dao.IKindsDao.KindsResultMap"></association>
 	-->
  </resultMap>
  
  <!-- 有图片 无种类字段映射的resultMap-->
  <resultMap id="ProductWithPhotosResultMap" type="Product" extends="ProductResultMap">
  	<result property="pro_photos_id" column="pro_photos_id"/> 
  </resultMap>
  
  <!--  无图 有种类字段映射的resultMap-->
  <resultMap id="ProductWithKindsResultMap" type="Product" extends="ProductResultMap">
  	<association property="kinds" resultMap="com.neusoft.cbec.dao.IKindsDao.KindsResultMap"></association>
  </resultMap>
  
  <!-- 有图 有种类字段映射的resultMap
  <resultMap id="ProductWithKindsAndPhotosResultMap" type="Product" extends="ProductWithPhotosResultMap,ProductWithKindsResultMap">
  </resultMap>
  -->

  <insert id="create" parameterType = "Product" >
  	<selectKey keyProperty="pro_id" keyColumn="pro_id" resultType="int" order="BEFORE">
  		select PRODUCT_NEXTNO_SQ.nextval from dual
  	</selectKey>
  	insert into PRODUCT(pro_id,pro_name,pro_price,pro_weight,pro_count,pro_kinds_id,pro_state_id,brand_id,pro_photos_id,pro_desc) 
  	values(#{pro_id},#{pro_name},#{pro_price},#{pro_weight},#{pro_count},#{pro_kinds_id},#{pro_state_id},#{brand_id},#{pro_photos_id},#{pro_desc})
  </insert>
  
  <update id="update" parameterType = "Product">
  	update PRODUCT 
  	set pro_name=#{pro_name},pro_price=#{pro_price},pro_weight=#{pro_weight},pro_count=#{pro_count},pro_kinds_id=#{pro_kinds_id},pro_state_id=#{pro_state_id},brand_id=#{brand_id},pro_photos_id=#{pro_photos_id},pro_desc=#{pro_desc}
  	where pro_id=#{pro_id}
  </update>
  
  <delete id="delete" parameterType = "Product">
  	delete from PRODUCT where pro_id=#{pro_id}
  </delete>
  
  <select id="selectListByAll" resultMap = "ProductResultMap">
  	select a.*,b.pro_kinds_id,b.kinds_id from PRODUCT a inner join KINDS b
  	on a.pro_kinds_id=b.pro_kinds_id
  </select>
  
  <select id="selectById" parameterType = "int" resultMap="ProductResultMap">
  	select * from PRODUCT where pro_id=#{productId}
  </select>
  
  <select id="selectListWithoutKindsByAll" resultMap = "ProductResultMap">
  	select * from PRODUCT 
  </select>
  
  <select id="selectListWithKindsByAll" resultMap = "ProductWithKindsResultMap">
  	select a.*,b.pro_kinds_id,b.kinds_id from PRODUCT a inner join KINDS b
  	on a.pro_kinds_id=b.pro_kinds_id
  </select>
  
</mapper>