<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.cbec.dao.IProductDao">

  <resultMap id="ProductResultMap" type="Product">
  	<id property="pro_id" column="pro_id" />
  	<result property="pro_name" column="pro_name"/>
  	<result property="pro_price" column="pro_price"/>
  	<result property="pro_weight" column="pro_weight"/>
  	<result property="pro_count" column="pro_count"/>
  	<result property="pro_state" column="pro_state"/>
  	<result property="brand_id" column="brand_id"/>
  	<result property="pro_photos_id" column="pro_photos_id"/>
  	<result property="pro_desc" column="pro_desc"/>
  	<result property="up_date" column="up_date"/>
  	<!--  内嵌式select
	<association property="kinds" column="pro_kinds_id" select="com.neusoft.cbec.dao.IKindsDao.selectById" ></association>
 	  内嵌式resultMap
 	<association property="kinds" resultMap="com.neusoft.cbec.dao.IKindsDao.KindsResultMap"></association>
 	-->
 	
  </resultMap>
  
  <!-- 有图片 无种类字段映射的resultMap-->
  <resultMap id="ProductWithPhotosResultMap" type="Product" extends="ProductResultMap">
  	<result property="pro_photos_id" column="pro_photos_id"/> 
  </resultMap>
  
  <!--  无图 有种类字段映射的resultMap-->
  <resultMap id="ProductWithKindsResultMap" type="Product" extends="ProductResultMap">
  	<association property="kinds" resultMap="com.neusoft.cbec.dao.IKindsDao.KindsResultMap"></association>
  </resultMap>
  
  <!-- 有图 有种类字段映射的resultMap
  <resultMap id="ProductWithKindsAndPhotosResultMap" type="Product" extends="ProductWithPhotosResultMap,ProductWithKindsResultMap">
  </resultMap>
  -->

  <insert id="create" parameterType = "Product" >
  	<selectKey keyProperty="pro_id" keyColumn="pro_id" resultType="int" order="BEFORE">
  		select PRODUCT_NEXTNO_SQ.nextval from dual
  	</selectKey>
  	insert into PRODUCT(pro_id,pro_name,pro_price,pro_weight,pro_count,pro_kinds_id,pro_state,brand_id,pro_photos_id,pro_desc,up_date) 
  	values(#{pro_id},#{pro_name},#{pro_price},#{pro_weight},#{pro_count},#{kinds.pro_kinds_id},#{pro_state},#{brand_id},#{pro_photos_id},#{pro_desc},#{up_date})
  </insert>
  
  <update id="update" parameterType = "Product">
  	update PRODUCT 
  	set pro_name=#{pro_name},pro_price=#{pro_price},pro_weight=#{pro_weight},pro_count=#{pro_count},pro_kinds_id=#{kinds.pro_kinds_id},pro_state=#{pro_state},brand_id=#{brand_id},pro_photos_id=#{pro_photos_id},pro_desc=#{pro_desc},up_date=#{up_date}
  	where pro_id=#{pro_id}
  </update>
  
  <delete id="delete" parameterType = "Product">
  	delete from PRODUCT where pro_id=#{pro_id}
  </delete>
  
  <select id="selectListByAll" resultMap = "ProductResultMap">
  	select * from PRODUCT 
  </select>
  
  <select id="selectById" parameterType = "int" resultMap="ProductResultMap">
  	select * from PRODUCT where pro_id=#{productId}
  </select>
  
  <!-- 查询所有-无关联种类 -->
  <select id="selectListWithoutKindsByAll" resultMap = "ProductResultMap">
  	select * from PRODUCT 
  </select>
  
  <!-- 查询所有-有关联种类 -->
  <select id="selectListWithKindsByAll" resultMap = "ProductWithKindsResultMap">
  	select a.*,b.pro_kinds_id,b.kinds_name from PRODUCT a inner join KINDS b
  	on a.pro_kinds_id=b.pro_kinds_id
  </select>
  
  <!-- 根据商品种类ID取得商品表 -->
  <select id="selectListByKinds" parameterType="int" resultMap="ProductResultMap">
  	select * from PRODUCT where pro_kinds_id=#{kindsId}
  </select>
  
  <!-- 根据检索条件取得员工列表-无分页 -->
  <select id="selectListByCondition" resultMap="ProductWithKindsResultMap">
    select a.* ,b.kinds_name from PRODUCT a inner join KINDS b on a.pro_kinds_id = b.pro_kinds_id
  	<trim prefix="WHERE" prefixOverrides="AND|OR ">
	   <if test="kindsId!=0">
	     and a.pro_kinds_id=#{kindsId}
	   </if>
	   <if test="startPrice!=0">
	      and a.pro_price&gt;=#{startPrice} 
	   </if>
	   <if test="endPrice!=0">
	      and a.pro_price&lt;=#{endPrice} 
	   </if>
	   <if test="startDate!=null">
	      and a.up_date &gt;=#{startDate}
	   </if>
	   <if test="endDate!=null">
	      and a.up_date &lt;=#{endDate}
	   </if>
	   <if test="name!=null and name!=''">
	      and a.pro_name like #{name}
	   </if>
	</trim> 
  </select>
  
  <!-- 根据检索条件取得员工列表-有分页 -->
  <select id="selectListByConditionWithPage" resultMap="ProductWithKindsResultMap">
  SELECT * FROM  (SELECT X.*, ROWNUM RN
  FROM (
    select a.* ,b.kinds_name from PRODUCT a inner join KINDS b on a.pro_kinds_id = b.pro_kinds_id
  	<trim prefix="WHERE" prefixOverrides="AND|OR ">
	   <if test="kindsId!=0">
	     and a.pro_kinds_id=#{kindsId}
	   </if>
	   <if test="startPrice!=0">
	      and a.pro_price&gt;=#{startPrice} 
	   </if>
	   <if test="endPrice!=0">
	      and a.pro_price&lt;=#{endPrice} 
	   </if>
	   <if test="startDate!=null">
	      and a.up_date &gt;=#{startDate}
	   </if>
	   <if test="endDate!=null">
	      and a.up_date &lt;=#{endDate}
	   </if>
	   <if test="name!=null and name!=''">
	      and a.pro_name like #{name}
	   </if>
	   	   <if test="proState!=null and proState!=''">
	      and a.pro_state=#{name}
	   </if>
	</trim> 
	)
	 X WHERE ROWNUM &lt;=#{page})  WHERE RN &gt;=#{rows}
  </select>
  
  <!-- 根据检索条件取得员工的个数 -->
  <select id="selectCountByCondition" resultType="int">
    select count(a.pro_kinds_id) from PRODUCT a inner join KINDS b on a.pro_kinds_id = b.pro_kinds_id
  	<trim prefix="WHERE" prefixOverrides="AND|OR ">
	   <if test="kindsId!=0">
	     and a.pro_kinds_id=#{kindsId}
	   </if>
	   <if test="startPrice!=0">
	      and a.pro_price&gt;=#{startPrice} 
	   </if>
	   <if test="endPrice!=0">
	      and a.pro_price&lt;=#{endPrice} 
	   </if>
	   <if test="startDate!=null">
	      and a.up_date &gt;=#{startDate}
	   </if>
	   <if test="endDate!=null">
	      and a.up_date &lt;=#{endDate}
	   </if>
	   <if test="name!=null and name!=''">
	      and a.pro_name like #{name}
	   </if>
	</trim> 
  </select>
   
</mapper>