<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.cbec.dao.IRoleDao">

  <resultMap id="RoleResultMap" type="Role">
  	<id property="id" column="role_id" />
  	<result property="name" column="role_name"/>
  </resultMap>
  
   <!--角色关联用户的映射-->
  <resultMap id="RoleWithUsersResultMap" type="Role" extends="RoleResultMap">
  	<!-- <collection property="users" column="role_id" select="com.neusoft.cbec.dao.IUserDao.selectListByRole"/> -->
  	<collection property="users" resultMap="com.neusoft.cbec.dao.IUserDao.UserResultMap"/>
  </resultMap>
  
  <!--添加角色  -->
  <insert id="create" parameterType="Role">
  	insert into Role values(#{id},#{name})
  </insert>
  
  <!--修改角色  -->
  <insert id="update" parameterType="Role">
  	update Role set role_name = #{name} where role_id = #{id}
  </insert>
  
  <!--删除角色  -->
  <insert id="delete" parameterType="Role">
  	delete Role where role_id = #{id}
  </insert>
  
  <!--角色有误关联用户  -->
  <select id="isAssociation" parameterType="Role"  resultType="int">
  	select count(user_id) from
	UUSER_ROLE_RELATE
	where role_id = #{id}
  </select>
  
  <!--取得所有角色列表，无关联用户  -->
  <select id="selectListByAll" resultMap="RoleResultMap">
    select *
    from Role
  </select>
  
  <!--取得所有角色列表，关联用户  -->
  <select id="selectListWithUsersByAll" resultMap="RoleWithUsersResultMap">
    select a.*,c.*
	from ROLE a
	left join UUSER_ROLE_RELATE b
	on a.role_id = b.role_id
	left join UUSER c
	on b.user_id = c.user_id
  </select>
  
  <!--根据角色ID，取得对应的角色信息 -->
  <select id="selectRoleById" parameterType="int" resultMap="RoleResultMap">
    select *
    from Role
    where role_id = #{id}
  </select>
  
</mapper>