<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.cbec.dao.IUserDao">

  <!-- 无角色、照片、钱包的映射-->
  <resultMap id="UserResultMap" type="User">
  	<id property="id" column="user_id" />
  	<result property="name" column="user_name"/>
  	<result property="password" column="user_password"/>
  	<result property="sex" column="user_sex"/>
  	<result property="birthday" column="user_birthday"/>
  	<result property="joinDate" column="user_joindate"/>
  	<result property="phone" column="user_phone"/>
  	<result property="email" column="man_email"/>
  </resultMap>
  
  <!-- 有照片的映射-->
  <resultMap id="UserWithPortraitResultMap" type="User" extends="UserResultMap">
  	<result property="portrait" column="user_portrait"/>
  </resultMap>
   
  <!-- 有角色的映射-->
  <resultMap id="UserWithRoleResultMap" type="User" extends="UserResultMap">
  	<association property="role" resultMap="com.neusoft.cbec.dao.IRoleDao.RoleResultMap"/>
  	<!-- <association property="role" column="role_id" select="com.neusoft.cbec.dao.IRoleDao.selectRoleById"/> -->
  </resultMap>
  
  <!--取得所有用户列表 无关联角色、分页-->
  <select id="selectListByAll" resultMap="UserResultMap">
    select * from UUSER
  </select>
  
  <!--取得所有用户列表 、有照片、无关联角色、分页-->
  <select id="selectListWithPortraitByAll" resultMap="UserWithPortraitResultMap">
    select * from UUSER
  </select>
  
  <!--取得所有用户列表、关联角色、无照片、不 分页-->
  <select id="selectListWithRoleByAll" resultMap="UserWithRoleResultMap">
    select u.*,r.role_name 
    from UUSER u
    inner join ROLE r
    on u.role_id = r.role_id
  </select>
  
  <!--根据角色,取得所有用户列表 无关联角色、不分页-->
  <select id="selectListByRole" parameterType="int" resultMap="UserResultMap">
    select * from UUSER 
    where role_id = #{roleId}
  </select>

  <!--根据条件，取得所有用户列表 关联角色、不分页-->
  <select id="selectListWithRoleByCondition" resultMap="UserWithRoleResultMap">
    select u.*,r.role_name 
    from UUSER u
    inner join ROLE r
    on u.role_id = r.role_id
	<trim prefix='WHERE' prefixOverrides="AND|OR">
		<if test="userName!=null and userName!=''">
			and user_name like #{userName}
		</if>
		<if test="userSex!=null and userSex!=''">
			and user_sex = #{userSex}
		</if>
		<if test="startDate!=null">
			and user_birthday &gt;= #{startDate}
		</if>
		<if test="endDate!=null">
			and user_birthday &lt;= #{endDate}
		</if>
		<if test="roleId!=null and roleName!=''">
			and u.role_id = #{roleId}
		</if>
	</trim>
  </select>
  
  <!--根据条件，取得所有用户列表 关联角色、分页-->
  <select id="selectListWithRoleByConditionWithPage" resultMap="UserWithRoleResultMap">
    select u.*,r.role_name 
    from UUSER u
    inner join ROLE r
    on u.role_id = r.role_id
  </select>
</mapper>