<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.cbec.dao.IUserDao">

  <!-- 无角色、照片、钱包的映射-->
  <resultMap id="UserResultMap" type="User">
  	<id property="id" column="user_id" />
  	<result property="name" column="user_name"/>
  	<result property="password" column="user_password"/>
  	<result property="sex" column="user_sex"/>
  	<result property="age" column="user_age"/>
  	<result property="birthday" column="user_birthday"/>
  	<result property="joinDate" column="user_joindate"/>
  	<result property="phone" column="user_phone"/>
  	<result property="email" column="user_email"/>
  	<result property="desc" column="user_desc"/>
  </resultMap>
  
  <!-- 有照片的映射-->
  <resultMap id="UserWithPortraitResultMap" type="User" extends="UserResultMap">
  	<result property="portrait" column="user_portrait"/>
  </resultMap>
   
  <!-- 有角色的映射-->
  <resultMap id="UserWithRoleResultMap" type="User" extends="UserResultMap">
  	<association property="role" resultMap="com.neusoft.cbec.dao.IRoleDao.RoleResultMap"/>
  	<!-- <association property="role" column="role_id" select="com.neusoft.cbec.dao.IRoleDao.selectRoleById"/> -->
  </resultMap>
  
  <!--================查询语句相关映射================-->
  <!--取得所有用户列表 无关联角色、分页-->
  <select id="selectListByAll" resultMap="UserResultMap">
    select * from UUSER
  </select>
  
  <!--取得所有用户列表 、有照片、无关联角色、分页-->
  <select id="selectListWithPortraitByAll" resultMap="UserWithPortraitResultMap">
    select * from UUSER
  </select>
  
  <!--取得所有用户列表、关联角色、无照片、不 分页-->
  <select id="selectListWithRoleByAll" resultMap="UserWithRoleResultMap">
    select u.*,r.role_name 
    from UUSER u
    inner join ROLE r
    on u.role_id = r.role_id
  </select>
  
  <!--根据角色,取得所有用户列表 无关联角色、不分页-->
  <select id="selectListByRole" parameterType="int" resultMap="UserResultMap">
    select * from UUSER 
    where role_id = #{roleId}
  </select>

  <!--根据条件，取得所有用户列表 关联角色、不分页-->
  <select id="selectListWithRoleByCondition" resultMap="UserWithRoleResultMap">
    select u.*,r.role_name 
    from UUSER u
    inner join ROLE r
    on u.role_id = r.role_id
	<trim prefix='WHERE' prefixOverrides="AND|OR">
		<if test="userName!=null and userName!=''">
			and user_name like #{userName}
		</if>
		<if test="userSex!=null and userSex!=''">
			and user_sex = #{userSex}
		</if>
		<if test="startDate!=null">
			and user_birthday &gt;= #{startDate}
		</if>
		<if test="endDate!=null">
			and user_birthday &lt;= #{endDate}
		</if>
		<if test="lowerAge!=null and lowerAge!=''">
			and user_age &gt;= #{lowerAge}
		</if>
		<if test="upperAge!=null and upperAge!=''">
			and user_age &lt;= #{upperAge}
		</if>
		<if test="userPhone!=null and userPhone!=''">
			and user_Phone like #{userPhone}
		</if>
		<if test="roleIds!=null">
			and u.role_id in  
			<foreach item="roleId" collection="roleIds" open="(" separator="," close=")">
	         	#{roleId}
	        </foreach>
		</if>
	</trim>
  </select>
  
  <!--根据条件，取得所有用户列表 关联角色、分页-->
  <select id="selectListWithRoleByConditionWithPage" resultMap="UserWithRoleResultMap">
    select * from
	(select ROWNUM rn,a.*
	from (select u.*,r.role_name 
		  from UUSER u
		  inner join ROLE r
		  on u.role_id = r.role_id
		  <where> 
	    	<if test="userName!=null and userName!=''">
				user_name like #{userName}
			</if>
			<if test="userSex!=null and userSex!=''">
				and user_sex = #{userSex}
			</if>
			<if test="startDate!=null">
				and user_birthday &gt;= #{startDate}
			</if>
			<if test="endDate!=null">
				and user_birthday &lt;= #{endDate}
			</if>
			<if test="lowerAge!=null and lowerAge!=''">
				and user_age &gt;= #{lowerAge}
			</if>
			<if test="upperAge!=null and upperAge!=''">
				and user_age &lt;= #{upperAge}
			</if>
			<if test="userPhone!=null and userPhone!=''">
				and user_Phone like #{userPhone}
			</if>
			<if test="roleIds!=null and roleIds.length!=0">
				and u.role_id in  
				<foreach item="roleId" collection="roleIds" open="(" separator="," close=")">
		         	#{roleId}
		        </foreach>
			</if>
  		   </where>
		  ) a)
		  where rn&lt;=#{rows}*#{page} and rn&gt;=#{rows}*(#{page}-1)
  </select>
  
  <!--根据条件检索，取得用户的个数-->
  <select id="selectCountByCondition" resultType="int">
	select count(user_id)
 	from UUSER
 	<where> 
  		<if test="userName!=null and userName!=''">
		user_name like #{userName}
		</if>
		<if test="userSex!=null and userSex!=''">
			and user_sex = #{userSex}
		</if>
		<if test="startDate!=null">
			and user_birthday &gt;= #{startDate}
		</if>
		<if test="endDate!=null">
			and user_birthday &lt;= #{endDate}
		</if>
		<if test="lowerAge!=null and lowerAge!=''">
			and user_age &gt;= #{lowerAge}
		</if>
		<if test="upperAge!=null and upperAge!=''">
			and user_age &lt;= #{upperAge}
		</if>
		<if test="userPhone!=null and userPhone!=''">
			and user_Phone like #{userPhone}
		</if>
		<if test="roleIds!=null and roleIds.length!=0">
			and role_id in  
			<foreach item="roleId" collection="roleIds" open="(" separator="," close=")">
		        	#{roleId}
		    </foreach>
		</if>
	   </where>
  </select>
  
  <!--================增加语句相关映射================-->
  <!--添加用户，无照片  -->
  <insert id="createWithoutPhoto" parameterType="User" >
  	insert into UUSER(user_id,user_name,user_password,user_sex,user_age,user_email,user_phone,user_birthday,user_joindate,user_desc,role_id,wallet_id,man_id,seller_id)
  	values(USER_NEXTID_SQ.NEXTVAL,#{name},#{password},#{sex},#{age},#{email},#{phone},#{birthday,jdbcType=DATE},#{joinDate,jdbcType=DATE},#{desc},#{role.id},0,0,0)
  </insert>
  <!--添加照片，有照片  -->
  <insert id="createWithPhoto" parameterType="User" >
  	insert into UUSER(user_id,user_name,user_password,user_sex,user_age,user_portrait,portraitFileName,portraitContentType,user_email,user_phone,user_birthday,user_joindate,user_desc,role_id,wallet_id,man_id,seller_id)
  	values(USER_NEXTID_SQ.NEXTVAL,#{name},#{password},#{sex},#{age},#{portrait},#{portraitFileName},#{portraitContentType},#{email},#{phone},#{birthday,jdbcType=DATE},#{joinDate,jdbcType=DATE},#{desc},#{role.id},0,0,0)
  </insert>
  <!--================修改语句相关映射================-->
  <!--================删除语句相关映射================-->
  
</mapper>